[Unit]
Description=Disables BIOS control of fans at boot.
Before=i8kmon.service

[Service]
Type=oneshot
ExecStart=/usr/bin/dell-fan-control 1
RemainAfterExit=true
ExecStop=/usr/bin/dell-fan-control 0

[Install]
WantedBy=multi-user.target
